body{
    margin-left: 5%;
    
}
section{
    display: flex;
    margin-left: 20px;
}
.first-img{
    width: 100%;
    margin-left: 5%%;
}
span{
    font-size: 40px;
      padding-top: 20px;
      font-family: 'Yeseva One', cursive;
}
.first-heading{
    color:rgb(51, 51, 51) ;
    height: 20%;
}
.in-the-first-heading{
    border-left: solid orangered;
}
.second-heading{
    color: rgb(255, 173, 90);  
}
.third-heading{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(19, 16, 58);
}
.third-heading-right{
    color: rgb(255, 173, 90);
}
p{
    font-size: 20px;
    color:rgb(15, 14, 14);
    font-family: 'Poppins', sans-serif;
}
.first-anchor{
    font-size: 20px;
    color:white;
    background-color: rgb(255, 89, 89);
    text-decoration: none;
    border: solid rgb(255, 89, 89);
    border-width: 10px 40px;
    border-radius: 5px;
}
.first-footer{
    margin-top: 40px;
    font-size: 20px;
    color: dimgrey;
}
.image-of-mission{
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.mission{
    border: solid;
    border-radius: 20px;
    border-image: url(images/shapes/shape-1.png);
    border: 1px solid rgb(237, 245, 246);
    background-color: rgb(237, 245, 246);
    margin: 20px 20px 20px 0px;
}
.heading-of-mission{
    font-size: 25px;
    font-weight:bold;
    padding-left: 15px;
    
}
.pragraph-of-mission{
    padding-left: 15px;
    color: rgb(66,66,66);
    font-family: 'Poppins', sans-serif;
}
.image-of-vission{
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  .vission{
      border: solid;
      border-radius: 20px;
      border-image: url(images/shapes/shape-1.png);
      border: 1px solid rgb(255, 238, 238);
      background-color:rgb(255, 238, 238);
      margin: 20px;
  }
  .heading-of-vission{
      font-size: 25px;
      padding-left: 15px;
      
  }
  .pragraph-of-vission{
      padding-left: 15px;
      color: rgb(66, 66, 66);
      font-family: 'Poppins', sans-serif;
  }
  .image-of-goals{
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  .goals{
      border: solid;
      border-radius: 20px;
      border-image: url(images/shapes/shape-1.png);
      border: 1px solid rgb(255, 244, 214);
      background-color:rgb(255, 244, 214);
      margin: 20px;
  }
  .heading-of-goals{
      font-size: 25px;
      padding-left: 15px;
      
  }
  .pragraph-of-goals{
      padding-left: 15px;
      color: rgb(66,66,66);
      font-family: 'Poppins', sans-serif;
  }
  .second-img{
    width: 80%;
    margin-left: 0%;

  }
.heading-four{
    font-size: 40px;
    font-family:sans-serif;
}
.first-divition{
    margin-top: 5%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x:160px;
}
.second-divition{
    margin-top: 5%;
}
.second-anchor{
    font-size: 20px;
    color:white;
    background-color: rgb(255, 89, 89);
    text-decoration: none;
    border: solid rgb(255, 89, 89);
    border-width: 10px 40px;
    border-radius: 5px;
}
.third-image{
    width: 80%;
    margin-left: 10%;
}
.heading-five{
    font-size: 40px;
    font-family:sans-serif;
}
.third-divition{
    margin-top: 10%;
}
.fourth-divition{
    margin-top: 5%;
}
.third-anchor{
    font-size: 20px;
    color:white;
    background-color: rgb(255, 89, 89);
    text-decoration: none;
    border: solid rgb(255, 89, 89);
    border-width: 10px 40px;
    border-radius: 5px;
}

